.side-header
  .side-header__box
    %h3.side-header__box__user-name
      お名前
    %ul.side-header__box__menu
      %li.side-header__box__menu__new-group
        = fa_icon 'pencil-square-o', class: 'icon'
      %li.side-header__box__menu__edit-user
        = fa_icon 'cog', class: 'icon'

.groups
  .group
    .group__group-name
      Group名
    .group__latest-message
      未開発